[submodule "org-cestdiego/extensions/org-page"]
	path = org-cestdiego/extensions/org-page
	url = git@github.com:CestDiego/org-page.git
[submodule "org-cestdiego/org-page-themes/just_right"]
	path = org-cestdiego/org-page-themes/just_right
	url = git@github.com:CestDiego/just_right.git
