[submodule "org-cestdiego/extensions/org-page"]
	path = blog/extensions/org-page
	url = git@github.com:CestDiego/org-page.git
[submodule "org-cestdiego/org-page-themes/just_right"]
	path = blog/themes/just_right
	url = git@github.com:CestDiego/just_right.git
[submodule "utils/extensions/i3-emacs"]
	path = utils/extensions/i3-emacs
	url = git@github.com:vava/i3-emacs.git
[submodule "layers/blog/themes/just_right"]
	path = layers/blog/themes/just_right
	url = https://github.com/cestdiego/just_right
