    <footer>
      {{#show-meta}}
      <time class="post-date">{{{date}}}</time>
      {{/show-meta}}
      <div class="back-to-top">
        <a href="#">back to top</a>
      </div>
      <script src="/media/js/main.js"></script>
    </footer>
