  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/normalize.css">
    <link rel="stylesheet" href="/media/css/main.css">
    <link rel="stylesheet" href="/media/css/dark.css" id="darkTheme">
    <link rel="stylesheet" href="/media/css/light.css" id="lightTheme">
    <link rel="stylesheet" href="//cloud.typography.com/6145712/799966/css/fonts.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400'>
    <noscript>
        <style>
         .toggle-colors{
             display: none;
         }
        </style>
    </noscript>
  </head>
